<TMPL_INCLUDE NAME="header.tmpl">
  <!-- Special stuff for datatables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
  
  
  <!-- Page header -->
  <h1 class="page-header">Introduction</h1>
  
  <!-- Organism comparison text header -->
  <div class="row">
	<p>
		This page compares the NCBI gene annotations for the european hedgehog (Erinaceus europaeus) and the 
		lesser hedgehog tenrec (Echinops telfairi). These are abbreviated as EriEur2.0 and EchTel2.0 
		respectively in the comparison.
	</p>
	<p>
		The Overview page provides a comparison of genes and gene types. The search bar provides a query of the 
		data for particular genes and transcripts.
	</p>
	<p>
		Kristina Taynor and Nick Venenga, Miami University 2016
	</p>
  </div>
<TMPL_INCLUDE NAME="footer.tmpl">